.onpageeditor {

    // display sort handle
    .ope-handle-sort {
        display: inline-block;
        &:hover {
            cursor: move;
        }
    }
    // hide edit handle
    .ope-handle-edit {
        display: none;
    }

    *[class^="ope-handle-"] {
        margin-right: 10px;
        text-align: center;
    }

    // when editing
    &.ope-editing {

        // .remix-handle-sort {
        //     display: none;
        // }
    
        .ope-handle-edit {
            display: inline-block;
        }

        [ope-editable]:not(ul) .ope-handle-edit {
            position: absolute;
        }
    }

    ul[ope-editable] {
        list-style-type: none;
        
        li {
            display: flex;
            margin: 4px 0px;
        }

    }

    [editable-area] {
        display: inline-block;
        transition: all .2s;
        padding: 5px;
        border-radius: 10px;
    }
    [contenteditable]:focus {
        padding: 10px;
        outline:2px solid pink;
    }

}

/**
 * Make sure to hide edit icon on drag (element is copied outside of container)
 */
.ope-drag {

    display: flex;
    .remix-handle-edit {
        display: none;
    }
}

.ope-edittext {
    &.active {
        background-color: red;
    }
}

.ope-update[disabled] {
    background-color: lightgrey;
}