.onpageeditor {

    // display sort handle
    .ope-handle-sort {
        display: inline-block;
        &:hover {
            cursor: move;
        }
    }
    // hide edit handle
    .ope-handle-edit {
        display: none;
    }

    *[class^="ope-handle-"] {
        margin-right: 10px;
        text-align: center;
    }

    // when editing
    &.ope-editing {

        // .remix-handle-sort {
        //     display: none;
        // }
    
        .ope-handle-edit {
            display: inline-block;
        }

        [ope-editable]:not(ul) .ope-handle-edit {
            position: absolute;
        }
    }

    ul[ope-editable] {
        list-style-type: none;
        
        li.ope-item {
            display: flex;
            position: relative;
            margin: 4px 0px;
            &:not(:last-child) {
                border-bottom: 1px solid rgba(0,0,0,.5);
            }
            [editable-area] {
                flex-grow: 1;
            }
            .ope-handle-move {
                margin:0;
                color: grey;
                align-self: flex-start;
                text-align: right;
                width: 20px;
                height: 48px;
                transition: all .2s;
                border-radius: 6px;
                cursor: pointer;
            }
            &:hover {
                background-color: #f3f3f3;
                .ope-handle-move {
                    background-color: slategray;
                    color: white;
                }
            }
        }

    }

    [editable-area] {
        display: inline-block;
        transition: all .2s;
        padding: 5px;
        border-radius: 10px;
    }
    [contenteditable]:focus {
        padding: 10px;
        outline:2px solid pink;
    }


}

/**
 * Make sure to hide edit icon on drag (element is copied outside of container)
 */
.ope-drag {

    display: flex;
    .remix-handle-edit {
        display: none;
    }
}

.ope-edittext {
    &.active {
        background-color: red;
    }
}

.ope-update[disabled] {
    background-color: lightgrey;
}

