.reciperemix {

    // display sort handle
    .remix-handle-sort {
        display: inline-block;
    }
    // hide edit handle
    .remix-handle-edit {
        display: none;
    }

    // when editing
    &.remix-editing {

        .remix-handle-sort {
            display: none;
        }
    
        .remix-handle-edit {
            display: inline-block;
        }

        [remix-editable]:not(ul) .remix-handle-edit {
            position: absolute;
        }
    }

    ul[remix-editable] {
        list-style-type: none;
        
        li {
            display: flex;
            margin: 4px 0px;
        }

    }

    [editable-area] {
        display: inline-block;
        transition: all .2s;
        padding: 5px;
        border-radius: 10px;
    }
    [contenteditable]:focus {
        padding: 10px;
        outline:2px solid pink;
    }

}

/**
 * Make sure to hide edit icon on drag (element is copied outside of container)
 */
.remix-drag {

    display: flex;
    .remix-handle-edit {
        display: none;
    }
}

.edit-remix {
    &.active {
        background-color: red;
    }
}

.update[disabled] {
    background-color: lightgrey;
}